<!DOCTYPE html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="add-category">
    <div class="container">
        <form>
            <h2>Добавление категории</h2>
            <label for="name">Название категории:
                <br>
                <input type="text" id="name" name="name" required>
            </label>
            <label for="imgURL">Изображение:
                <br>
                <input type="file" id="imgURL" name="imgURL">
            </label>
            <button type="submit">Добавить</button>
        </form>
    </div>
</section>


<section class="categories">
    <div class="container">
        <div class="categories__container">
            <h2>Категории:</h2>

            <% categories.forEach(function(category) { %>
            <div class="category">
                <div class="category__info">
                    <img src="<%= category.imgURL %>" alt="">
                    <p><%= category.name %></p>
                </div>
                <a class="category__deleteBtn" data-id="<%= category.id %>" href="">Удалить</a>
            </div>
            <% }) %>

        </div>
    </div>
</section>


<script src="/static/js/admin/adminCategories.js"></script>

</body>
</html>