<header class="header">
    <div class="container">

        <div class="header__container">

            <div class="header__logo">
                <img src="/static/img/header/logo.png" alt="">
            </div>

            <div class="header__burger">
                <span></span>
            </div>

            <nav class="header__menu menu">
                <a class="menu__item" href="/">Меню</a>
                <a class="menu__item" href="/about">О нас</a>
                <a class="menu__item" href="/profile">Мой профиль</a>
                <div class="basket-menu">
                    <a class="basket-menu__link menu__item" href="/basket">Корзина</a>
                    <span class="basket-menu__indicator">0</span>
                </div>
            </nav>

        </div>

    </div>
</header>