<section class="map">
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
    <script>
        coordsStore = {
            lat: 25.199069611042663,
            lng: 55.278930602816715
        }
        coordsStoreStr = coordsStore.lat + ',' + coordsStore.lng;

        function initMap() {
            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: coordsStore,
            });

            directionsRenderer.setMap(map);

            const marker = new google.maps.Marker({
                position: coordsStore,
                map: map,
                title: 'BigRolls',
                icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });

            navigator.geolocation.getCurrentPosition((position) => {
                directionsService
                    .route({
                        origin: {
                            query: position.coords.latitude + ', ' + position.coords.longitude,
                        },
                        destination: {
                            query: coordsStoreStr,
                        },
                        travelMode: google.maps.TravelMode.DRIVING,
                    })
                    .then((response) => {
                        directionsRenderer.setDirections(response);
                        marker.setMap(null)
                    })
                    .catch((e) => window.alert("Directions request failed due to " + status));
            })
        }
    </script>

    <div id="map"></div>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhXU1esUwg7k8lOec3P_QUZmXjpQrPfTY&callback=initMap&v=weekly"
            async
    ></script>
</section>