<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<%- include('partials/about-line.html'); %>

<section class="main">
    <div class="container">
        <div class="main__container">

            <%- include('partials/sidebar.html', {categories}); %>

            <div class="categories">
                <% categories.forEach(function(category) { %>
                <div class="categories__item">
                    <a class="categories__link" href="/<%= category.name %>">
                        <img src="<%= category.imgURL %>" alt="category">
                        <span><%= category.name %></span>
                    </a>
                </div>
                <% })%>
            </div>


        </div>
    </div>

</section>


<%- include('partials/map.html'); %>


<script type="module" src="/static/js/script.js"></script>

</body>
</html>