<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="about-line">
    <h2>Оформление заказа</h2>
</section>

<section class="main">
    <div class="container">
        <div class="main__container">

            <%- include('partials/sidebar.html', {categories}); %>

            <div class="checkout-page">
                <div class="checkout-page__container">
                    <form class="checkout-page__form" id="form">
                        <ul>
                            <li>
                                <label for="name">Имя:</label>
                                <br>
                                <input type="text" id="name" name="name">
                            </li>
                            <li>
                                <label for="tel">Номер телефона:</label>
                                <br>
                                <input type="tel" id="tel" name="tel" required>
                            </li>
                            <li>
                                <label for="street">Улица:</label>
                                <br>
                                <input type="text" id="street" name="street">
                            </li>
                            <li>
                                <label for="home">Дом:</label>
                                <br>
                                <input type="text" id="home" name="home">
                            </li>
                            <li>
                                <label for="apartment">Квартира:</label>
                                <br>
                                <input type="text" id="apartment" name="apartment">
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="delivery" value="Самовывоз" checked>
                                    Самовывоз
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="delivery" value="Доставка">
                                    Доставка
                                </label>
                            </li>
                            <li>
                                <label for="info">Дополнительная информация:</label>
                                <br>
                                <textarea id="info" name="info"></textarea>
                            </li>
                        </ul>
                    </form>

                    <div class="checkout-page__confirm">
                        <p class="checkout-page__order-price">Сумма к оплате: 0 ₽</p>
                        <button form="form" type="submit" class="checkout-page__complete-btn double-btn">Подтвердить заказ</button>
                        <p id="error" style="display: none; color: red;">Ошибка!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script type="module" src="http://localhost:8080/static/js/checkout-page.js"></script>
<script type="module" src="http://localhost:8080/static/js/script.js"></script>

</body>
</html>