<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="about-line">
    <h2>Вход</h2>
</section>

<section class="main">
    <div class="container">
        <div class="login-page">
            <form>
                <p id="error" style="display: none; color: red;">Ошибка!!!</p>
                <label for="email">Email:
                    <br>
                    <input type="text" id="email" name="email" required>
                </label>
                <br>
                <label for="password">Password:
                    <br>
                    <input type="password" id="password" name="password" required>
                </label>
                <button class="double-btn" type="submit">Войти</button>
                <a href="/registration" class="double-btn" >Зарегистрироваться</a>
            </form>
        </div>
    </div>
</section>


<script type="module" src="/static/js/script.js"></script>
<script type="module" src="/static/js/login-page.js"></script>

</body>
</html>