<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="about-line">
    <h2>Ваш профиль</h2>
</section>

<section class="main">
    <div class="container">
        <div class="main__container">

            <%- include('partials/sidebar.html', {categories}); %>

            <div class="profile-page">

                <hr>
                <div class="profile-page__client-info">
                    <p>Ваш Email: <%= user.email %></p>
                    <p>Ваша роль: <%= user.role %></p>
                    <button class="profile-page__logoutBtn double-btn">Выйти из аккаунта</button>
                </div>
                <hr>

                <div class="profile-page__history history">
                    <h2>История заказов:</h2>
                    <% orders.forEach(function(order, i) { %>
                    <div class="history__item">
                        <p>Заказ <%= i + 1 %></p>
                        <table>
                            <tbody>
                            <tr>
                                <th>Товар</th>
                                <th>Цена</th>
                                <th>Количество</th>
                            </tr>

                            <% for (product in order.basket) { %>
                            <tr>
                                <td><%= order.basket[product].name %></td>
                                <td><%= order.basket[product].price %></td>
                                <td><%= order.basket[product].amount %></td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                        <span>Общая сумма <%= order.info.totalPrice %> ₽</span>
                    </div>
                    <% })%>
                </div>

            </div>
        </div>
    </div>

</section>


<script type="module" src="http://localhost:8080/static/js/script.js"></script>
<script type="module" src="http://localhost:8080/static/js/profile-page.js"></script>

</body>
</html>