.header {
  background: black;

  &__menu {
    display: flex;
    justify-content: center;

    a {
      text-align: center;
      flex-basis: 33.333%;
      margin: 10px;
      padding: 10px;
      background: #ed8540;
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

}