.orders {

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.order {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #9f9f9f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    a {
      cursor: pointer;
      transition: 0.5s;
      color: green;
      padding: 5px 12px;
      border: 3px double green;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.1em;

      &:hover {
        color: greenyellow;
        border-color: greenyellow;
      }
    }
  }

  h3 {
    padding: 10px;
  }


  &__client {
    padding-left: 10px;
    font-size: 18px;
    overflow: auto;
  }

  &__item {
    overflow: auto;

    table {
      background: wheat;
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
      border: 1px solid black;

      th, td {
        text-align: start;
        padding: 10px;
      }

      th {
        background: #ed8540;
      }

      tr:nth-child(even) {
        background: #f6e5c7;
      }

      th:nth-child(even) {
        background: #ff9911;
      }
    }
  }

  @media (max-width: 600px) {
    h2 {
      font-size: 20px;
      text-align: center;
    }

    a {
      display: block;
      margin: 5px;
    }

    &__header {
      flex-direction: column;
    }
  }
}