@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: url("../img/admin/background.png");
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: black;
}
.header__menu {
  display: flex;
  justify-content: center;
}
.header__menu a {
  text-align: center;
  flex-basis: 33.333%;
  margin: 10px;
  padding: 10px;
  background: #ed8540;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.orders__container {
  display: flex;
  flex-direction: column;
}

.order {
  margin: 20px;
  padding: 10px;
  border: 1px solid #9f9f9f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.order__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.order__header a {
  cursor: pointer;
  transition: 0.5s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.order__header a:hover {
  color: greenyellow;
  border-color: greenyellow;
}
.order h3 {
  padding: 10px;
}
.order__client {
  padding-left: 10px;
  font-size: 18px;
}
.order__items table {
  background: wheat;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
.order__items table th, .order__items table td {
  text-align: start;
  padding: 10px;
}
.order__items table th {
  background: #ed8540;
}
.order__items table tr:nth-child(even) {
  background: #f6e5c7;
}
.order__items table th:nth-child(even) {
  background: #ff9911;
}

.add-product {
  margin: 20px;
}
.add-product form {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.add-product form label {
  display: block;
  padding: 5px;
}
.add-product form input, .add-product form select {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
.add-product form button {
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  background: transparent;
}
.add-product form button:hover {
  color: yellowgreen;
  border-color: yellowgreen;
}

.products__container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}
.products__container h2 {
  margin-bottom: 20px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a4a4a4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.product__info {
  display: flex;
  align-items: center;
}
.product__info p {
  padding: 0 30px;
  font-size: 20px;
}
.product img {
  max-width: 150px;
}
.product a {
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  background: transparent;
}
.product a:hover {
  color: yellowgreen;
  border-color: yellowgreen;
}

.add-category {
  margin: 20px;
}
.add-category form {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.add-category form label {
  display: block;
  padding: 5px;
}
.add-category form input {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
.add-category form button {
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  background: transparent;
}
.add-category form button:hover {
  color: yellowgreen;
  border-color: yellowgreen;
}

.categories__container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}
.categories__container h2 {
  margin-bottom: 20px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a4a4a4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.category__info {
  display: flex;
  align-items: center;
}
.category__info p {
  padding: 10px;
  font-size: 20px;
}
.category img {
  max-width: 150px;
}
.category a {
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  background: transparent;
}
.category a:hover {
  color: yellowgreen;
  border-color: yellowgreen;
}

/*# sourceMappingURL=admin.css.map */
