@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: white;
  color: white;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.double-btn {
  transition: 0.4s;
  cursor: pointer;
  display: block;
  text-align: center;
  color: #ed8540;
  padding: 5px 12px;
  border: 3px double #ed8540;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  background: transparent;
}
.double-btn:hover {
  color: green;
  border-color: green;
}

.header {
  background: url("http://localhost:8080/static/img/header/header_backround.jpg") top no-repeat, rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  padding: 50px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header__logo {
  max-width: 300px;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 900px) {
  .header {
    padding: 10px 0;
  }
  .header__container {
    align-items: center;
  }
  .header__logo {
    max-width: 70px;
  }
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after, .header__burger span {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    top: 9px;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.menu__item {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
  transition: color 0.3s;
}
.menu__item:hover {
  color: #ed8540;
  border-bottom: solid 1px #ed8540;
}
@media (max-width: 900px) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease 0s;
    opacity: 0;
  }
  .menu__item {
    font-size: 30px;
  }
  .menu.active {
    top: 0;
    opacity: 1;
  }
}

.basket-menu {
  display: inline-block;
  padding: 10px;
}
.basket-menu__link {
  padding: 0;
}
.basket-menu__indicator {
  display: inline-block;
  transform: translateY(-6px);
  padding: 0 5px;
  background: #ed8540;
  border-radius: 10%;
  font-size: 16px;
  font-weight: 700;
}

.about-line {
  background: #ed8540;
  text-align: center;
  padding: 20px;
}
.about-line h2 {
  font-weight: 300;
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  .about-line {
    font-size: 14px;
  }
  .about-line h2 {
    font-size: 16px;
  }
}

.main {
  margin: 20px 0;
}
.main__container {
  display: flex;
}
@media (max-width: 700px) {
  .main__container {
    flex-direction: column;
    width: 100%;
  }
}

.sidebar {
  border-right: 1px solid #cbcbcb;
  margin: 15px 0 0 0;
  padding-right: 10px;
  width: 25%;
}
.sidebar__categories {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__categories h2, .sidebar__categories a {
  color: black;
  padding: 5px;
  transition: all 0.5s;
}
.sidebar__categories h2:hover, .sidebar__categories a:hover {
  color: #ed8540;
}
.sidebar__video {
  text-align: center;
  width: 100%;
}
.sidebar__video iframe {
  max-width: 250px;
  height: auto;
  width: 100%;
}
@media (max-width: 700px) {
  .sidebar {
    order: 2;
    width: 100%;
    border: none;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
  }
  .sidebar iframe {
    max-width: 80%;
  }
}

.map {
  background: antiquewhite;
  height: 400px;
  color: black;
}

.sort {
  padding: 20px 0 0 0;
  text-align: end;
  color: black;
}
.sort select {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}

.categories {
  width: 75%;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #cbcbcb;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.categories__item {
  flex-basis: 33.3333%;
  padding: 20px;
  height: 200px;
}
@media (max-width: 800px) {
  .categories__item {
    flex-basis: 50%;
  }
}
@media (max-width: 450px) {
  .categories__item {
    flex-basis: 100%;
    height: 250px;
  }
}
.categories__link {
  display: block;
  height: 100%;
}
.categories__link img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.categories__link span {
  display: block;
  height: 20%;
  text-align: center;
  padding: 5px 0;
  color: black;
  font-weight: 700;
}
.categories__link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 700px) {
  .categories {
    width: 100%;
    border: none;
  }
}

.products {
  width: 75%;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #cbcbcb;
  color: black;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.products__item {
  flex-basis: 33.33333%;
  padding: 20px;
  height: 320px;
}
@media (max-width: 800px) {
  .products__item {
    flex-basis: 50%;
  }
}
@media (max-width: 450px) {
  .products__item {
    flex-basis: 100%;
  }
}
.products__link {
  display: block;
  height: 70%;
}
.products__link img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.products__link span {
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 5px 0;
}
.products__price {
  font-size: 20px;
  color: green;
  font-weight: 300;
  text-align: center;
  padding-bottom: 10px;
}
.products__basket {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .products {
    width: 100%;
    border: none;
  }
}

.about-page {
  color: black;
  padding: 20px;
  width: 75%;
  order: -1;
  border-right: 1px solid #cbcbcb;
  margin-right: 10px;
}
.about-page p {
  font-size: 16px;
}
@media (max-width: 700px) {
  .about-page {
    width: 100%;
    border: none;
  }
}

.basket-page {
  width: 75%;
  order: -1;
  border-right: 1px solid #cbcbcb;
  margin-right: 10px;
  color: black;
}
.basket-page__delete {
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.basket-page__name {
  width: 60%;
}
.basket-page__img img {
  width: auto;
  max-width: 100px;
}
.basket-page__price {
  color: green;
}
.basket-page__table {
  min-width: 281px;
  width: 100%;
  overflow: auto;
}
.basket-page table {
  width: 98%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #e9e9e9;
}
.basket-page table th, .basket-page table td {
  padding: 10px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.basket-page table th {
  background: #eaeaea;
}
.basket-page table td {
  height: 80px;
}
.basket-page table h2 {
  padding: 10px;
}
.basket-page hr {
  width: 98%;
}
.basket-page__confirm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.basket-page__confirm p {
  font-size: 30px;
}
.basket-page__confirm a {
  font-size: 20px;
}
@media (max-width: 700px) {
  .basket-page {
    width: 100%;
    border: none;
  }
  .basket-page table, .basket-page hr {
    width: 100%;
  }
  .basket-page__confirm p, .basket-page__confirm a {
    font-size: 16px;
  }
}

.checkout-page {
  color: black;
  padding: 30px;
  width: 75%;
  order: -1;
  border-right: 1px solid #cbcbcb;
  margin-right: 10px;
}
.checkout-page__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 555px) {
  .checkout-page__container {
    flex-direction: column;
    text-align: center;
  }
}
.checkout-page form {
  font-size: 20px;
}
.checkout-page form input {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
.checkout-page form textarea {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  border: 1px solid #cecece;
  border-radius: 8px 0 0 0;
  padding: 8px 0 8px 10px;
}
.checkout-page form li {
  list-style-type: none;
  padding: 10px;
}
.checkout-page__confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.checkout-page__confirm p {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
.checkout-page__confirm button {
  font-size: 16px;
}
@media (max-width: 700px) {
  .checkout-page {
    width: 100%;
    border: none;
  }
}

.completed-page {
  color: black;
  padding: 20px;
  width: 75%;
  order: -1;
  border-right: 1px solid #cbcbcb;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.completed-page h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 700px) {
  .completed-page {
    width: 100%;
    border: none;
  }
}

.profile-page {
  width: 75%;
  padding: 10px 0 10px 10px;
  color: black;
}
.profile-page hr {
  border: none;
  color: #cbcbcb;
  background-color: #cbcbcb;
  height: 1px;
}
.profile-page__client-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.profile-page__client-info p {
  padding: 10px;
}
@media (max-width: 700px) {
  .profile-page {
    width: 100%;
    border: none;
    padding: 0;
  }
  .profile-page__client-info {
    flex-direction: column;
    text-align: center;
  }
  .profile-page button {
    margin: 10px;
  }
}

.history__item {
  margin-bottom: 20px;
  min-width: 279px;
  width: 100%;
  overflow: auto;
}
.history__item p {
  padding: 10px;
  font-weight: bold;
}
.history__item span {
  font-size: 20px;
}
.history__item table {
  background: wheat;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
.history__item table th, .history__item table td {
  text-align: start;
  padding: 10px;
}
.history__item table th {
  background: #ed8540;
}
.history__item table tr:nth-child(even) {
  background: #f6e5c7;
}
.history__item table th:nth-child(even) {
  background: #ff9911;
}

.login-page {
  text-align: center;
  color: black;
}
.login-page form {
  font-size: 20px;
}
.login-page form input {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  margin: 5px;
}
.login-page form button {
  margin: 10px auto;
  font-size: 20px;
}
.login-page form a {
  display: inline-block;
  margin: 10px auto;
  font-size: 20px;
}

.registration-page {
  text-align: center;
  color: black;
}
.registration-page form {
  font-size: 20px;
}
.registration-page form input {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6F6;
  border-radius: 8px;
  margin: 5px;
}
.registration-page form button {
  margin: 10px auto;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
