@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: white;
  color: white;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: url("http://localhost:8080/static/img/header/header_backround.jpg") top no-repeat, rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  padding: 50px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header__logo {
  max-width: 300px;
}
.header__logo img {
  width: 100%;
}
.menu__item {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
  transition: color 0.3s;
}
.menu__item:hover {
  color: #ed8540;
  border-bottom: solid 1px #ed8540;
}

.basket-menu {
  display: inline-block;
}
.basket-menu__link {
  padding-right: 0;
}
.basket-menu__indicator {
  display: inline-block;
  transform: translateY(-6px);
  padding: 0 5px;
  background: #ed8540;
  border-radius: 10%;
  font-size: 16px;
  font-weight: 700;
}

.about-line {
  background: #ed8540;
  text-align: center;
  padding: 20px 0;
}
.about-line h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

.main {
  margin-top: 20px;
}
.main__container {
  display: flex;
}

.sidebar {
  border-right: 1px solid #cbcbcb;
  margin: 15px 0 0 0;
  padding-right: 10px;
  width: 25%;
}
.sidebar__categories {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__categories h2, .sidebar__categories a {
  color: black;
  padding: 5px;
  transition: all 0.5s;
}
.sidebar__categories h2:hover, .sidebar__categories a:hover {
  color: #ed8540;
}
.sidebar__video {
  text-align: center;
  width: 100%;
}
.sidebar__video iframe {
  max-width: 250px;
  height: auto;
  width: 100%;
}

.categories {
  width: 75%;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #cbcbcb;
  display: flex;
  flex-wrap: wrap;
}
.categories__item {
  flex-basis: 33.33333%;
  padding: 10px;
}
.categories__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.categories span {
  font-weight: 700;
}
.categories img {
  width: 100%;
  margin-bottom: 10px;
}

.products {
  width: 75%;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #cbcbcb;
  display: flex;
  flex-wrap: wrap;
}
.products__item {
  flex-basis: 33.33333%;
  padding: 10px;
}
.products__link {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.products__link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.products img {
  width: 100%;
  margin-bottom: 5px;
}
.products__name {
  font-weight: 700;
  padding-bottom: 5px;
}
.products__price {
  font-size: 20px;
  color: green;
  font-weight: 300;
  text-align: center;
  padding-bottom: 5px;
}
.products__basket {
  cursor: pointer;
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #848494;
  padding: 5px 12px;
  border: 3px double #e4e4e4;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.products__basket:hover {
  color: black;
  border-color: black;
}

.map {
  background: antiquewhite;
  height: 200px;
  color: black;
}

.about-page {
  color: black;
  padding: 20px;
  width: 75%;
  order: -1;
  border-right: 1px solid #cbcbcb;
  margin-right: 10px;
}
.about-page p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.basket-page {
  width: 75%;
  order: -1;
  border-right: 1px solid #cbcbcb;
  margin-right: 10px;
  color: black;
}
.basket-page__delete {
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.basket-page__name {
  width: 60%;
}
.basket-page__img img {
  width: auto;
  max-width: 100px;
}
.basket-page__price {
  color: green;
}
.basket-page table {
  width: 98%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #e9e9e9;
}
.basket-page table th, .basket-page table td {
  padding: 10px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.basket-page table th {
  background: #eaeaea;
}
.basket-page table td {
  height: 80px;
}
.basket-page hr {
  width: 98%;
}
.basket-page__confirm {
  display: flex;
  justify-content: space-around;
}
.basket-page__confirm p {
  font-size: 30px;
}
.basket-page__confirm a {
  cursor: pointer;
  transition: 0.5s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.basket-page__confirm a:hover {
  color: greenyellow;
  border-color: greenyellow;
}

.checkout-page {
  color: black;
  padding: 30px;
  width: 75%;
}
.checkout-page__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.checkout-page form {
  font-size: 20px;
}
.checkout-page form input {
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
.checkout-page form textarea {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  border: 1px solid #cecece;
  border-radius: 8px 0 0 0;
  padding: 8px 0 8px 10px;
}
.checkout-page form li {
  list-style-type: none;
  padding: 10px;
}
.checkout-page__confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.checkout-page__confirm p {
  font-size: 30px;
  padding: 20px;
}
.checkout-page__confirm a {
  cursor: pointer;
  transition: 0.5s;
  color: green;
  padding: 5px 12px;
  border: 3px double green;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.checkout-page__confirm a:hover {
  color: greenyellow;
  border-color: greenyellow;
}

/*# sourceMappingURL=style.css.map */
