<!DOCTYPE html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="add-product">
    <div class="container">
        <form method="post">
            <h2>Добавление продукта</h2>
            <label for="nameProduct">Название продукта:
                <br>
                <input type="text" id="nameProduct" name="name" required>
            </label>
            <label for="price">Стоимость:
                <br>
                <input type="text" id="price" name="price">
            </label>
            <label>Категория:
                <br>
                <select id="category" name="category">
                    <% categories.forEach(function(category) { %>
                    <option><%= category.name %></option>
                    <% }) %>
                </select>
            </label>
            <label for="imgURL">Изображение:
                <br>
                <input type="file" id="imgURL" name="imgURL">
            </label>
            <button type="submit">Добавить</button>
        </form>
    </div>
</section>


<section class="products">
    <div class="container">
        <div class="products__container">
            <h2>Продукты:</h2>

            <% products.forEach(function(product) { %>
            <div class="product">
                <div class="product__info">
                    <img src="<%= product.imgURL %>" alt="">
                    <p>Название:<br><%= product.name %></p>
                    <p>Цена:<br><%= product.price %> ₽</p>
                    <p>Категория:<br><%= product.category %></p>
                </div>
                <a class="product__deleteBtn" href="" data-id="<%= product.id %>">Удалить</a>
            </div>
            <% }) %>

        </div>
    </div>
</section>


<script src="http://localhost:8080/static/js/admin/adminProducts.js"></script>

</body>
</html>