<!DOCTYPE html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<sectoins class="orders">
    <div class="container">
        <div class="orders__container">

            <% orders.forEach(function(order) { %>
            <div class="order">
                <div class="order__header">
                    <h2 class="order__title">Заказ <%= order.id %></h2>
                    <div class="order__buttons">
                        <a data-id="<%= order.id %>" class="order__deleteBtn" href="">Удалить</a>
                    </div>
                </div>
                <hr>
                <h3>Данные клиента:</h3>
                <div class="order__client">
                    <p><strong>Имя: </strong><%= order.client.name %></p>
                    <p><strong>Номер телефона: </strong> <%= order.client.tel %></p>
                    <p><strong>Улица: </strong><%= order.client.street %><strong>, дом:</strong> <%= order.client.home
                        %><strong>, квартира:</strong> <%= order.client.apartment %></p>
                    <p><strong>Доставка: </strong><%= order.info.delivery %></p>
                    <p><strong>Дополнительная информация: </strong><%= order.info.additionalInfo %></p>
                </div>
                <br>
                <hr>
                <h3>Позиции заказа: </h3>
                <div class="order__items">
                    <div class="order__item">
                        <table>
                            <tbody>
                            <tr>
                                <th>Номер</th>
                                <th>Товар</th>
                                <th>Цена</th>
                                <th>Количество</th>
                            </tr>
                            <% for (product in order.basket) { %>
                            <tr>
                                <td><%= product %></td>
                                <td><%= order.basket[product].name %></td>
                                <td><%= order.basket[product].price %></td>
                                <td><%= order.basket[product].amount %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h3>Общая сумма заказа: <%= order.info.totalPrice %> ₽</h3>
            </div>
            <% })%>

        </div>
    </div>
</sectoins>


<script src="http://localhost:8080/static/js/admin/adminOrders.js"></script>

</body>
</html>