.profile-page {
  width: 75%;
  padding: 10px 0 10px 10px;
  color: black;

  hr {
    border: none;
    color: #cbcbcb;
    background-color: #cbcbcb;
    height: 1px;
  }

  &__client-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    p {
      padding: 10px;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    border: none;
    padding: 0;

    &__client-info {
      flex-direction: column;
      text-align: center;
    }

    button {
      margin: 10px;
    }
  }
}

.history {

  &__item {
    margin-bottom: 20px;
    min-width: 279px;
    width: 100%;
    overflow: auto;

    p {
      padding: 10px;
      font-weight: bold;
    }

    span {
      font-size: 20px;
    }

    table {
      background: wheat;
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
      border: 1px solid black;

      th, td {
        text-align: start;
        padding: 10px;
      }

      th {
        background: #ed8540;
      }
      tr:nth-child(even) {
        background: #f6e5c7;
      }
      th:nth-child(even) {
        background: #ff9911;
      }
    }
  }
}