<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="about-line">
    <h2>Корзина</h2>
</section>

<section class="main">
    <div class="container">
        <div class="main__container">

            <%- include('partials/sidebar.html', {categories}); %>

            <div class="basket-page">

                <table>
                    <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Товар</th>
                        <th>Количество</th>
                        <th>Цена</th>
                    </tr>
                    </tbody>
                </table>

                <br>
                <hr>
                <br>

                <div class="basket-page__confirm">
                    <p class="basket-page__orderPrice">Сумма заказа: 0 ₽</p>
                    <a class="basket-page__confirmBtn double-btn" href="/checkout">Подтвердить</a>
                </div>

            </div>

        </div>
    </div>

</section>


<script type="module" src="http://localhost:8080/static/js/script.js"></script>
<script type="module" src="http://localhost:8080/static/js/basket-page.js"></script>

</body>
</html>