<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<%- include('partials/about-line.html'); %>


<section class="main">
    <div class="container">
        <div class="main__container">

            <%- include('partials/sidebar.html', {categories}); %>

            <div class="completed-page">
                <h1>Спасибо за заказ.</h1>
            </div>
        </div>
    </div>

</section>


<%- include('partials/map.html'); %>


<script type="module" src="http://localhost:8080/static/js/script.js"></script>

</body>
</html>