<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>BigRolls - Online Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://127.0.0.1:8080/static/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/style.css">
</head>
<body>

<header class="header">
    <div class="container">

        <div class="header__container">
            <div class="header__logo">
                <img src="http://localhost:8080/static/img/header/logo.png" alt="">
            </div>

            <nav class="header__menu menu">
                <a class="menu__item" href="">Меню</a>
                <a class="menu__item" href="">Роллы</a>
                <a class="menu__item" href="">Сеты</a>
                <a class="menu__item" href="">Заказы</a>
                <a class="menu__item" href="">О нас</a>
                <div class="basket">
                    <a class="basket__link menu__item" href="">Корзина</a>
                    <span class="basket__indicator">0</span>
                </div>

            </nav>
        </div>

    </div>
</header>

<section class="about-line">
    <h2>Лучшая доставка суши и роллов в Кирове⏰с 10:00 - 22:30</h2>
    <p>Принимаем заказы на сайте или по телефону ☎ 203-603</p>
</section>


<section class="main">
    <div class="container">
        <div class="main__container">
            <div class="sidebar">
                <div class="sidebar__categories">
                    <h2>Категории</h2>
                    <a href="">Роллы</a>
                    <a href="">Сеты</a>
                    <a href="">Запеченные</a>
                    <a href="">Фритюр</a>
                </div>

                <div class="sidebar__video">
                    <iframe src="https://www.youtube.com/embed/SXVInXHZaWE?autoplay=1&mute=1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>


            </div>

            <div class="products">

                <div class="products__item">
                    <a class="products__link" href="">
                        <img src="http://localhost:8080/static/img/categories/20IUzGXEjQc.jpg" alt="">
                        <span>Запеченные</span>
                    </a>
                </div>

                <div class="products__item">
                    <a class="products__link" href="">
                        <img src="http://localhost:8080/static/img/categories/20IUzGXEjQc.jpg" alt="">
                        <span>Запеченные</span>
                    </a>
                </div>

                <div class="products__item">
                    <a class="products__link" href="">
                        <img src="http://localhost:8080/static/img/categories/20IUzGXEjQc.jpg" alt="">
                        <span>Запеченные</span>
                    </a>
                </div>

                <div class="products__item">
                    <a class="products__link" href="">
                        <img src="http://localhost:8080/static/img/categories/20IUzGXEjQc.jpg" alt="">
                        <span>Запеченные</span>
                    </a>
                </div>

                <div class="products__item">
                    <a class="products__link" href="">
                        <img src="http://localhost:8080/static/img/categories/20IUzGXEjQc.jpg" alt="">
                        <span>Запеченные</span>
                    </a>
                </div>

                <div class="products__item">
                    <a class="products__link" href="">
                        <img src="http://localhost:8080/static/img/categories/20IUzGXEjQc.jpg" alt="">
                        <span>Запеченные</span>
                    </a>
                </div>


            </div>
        </div>
    </div>

</section>


<section class="map">
    <div class="container">
        map
    </div>
</section>

</body>
</html>