<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<%- include('partials/about-line.html'); %>


<section class="sort">
    <div class="container">
        <label>Сортировка
            <select id="sort" name="sort">

                <% if (sort == 0) { %>
                <option selected="selected">По умолчанию</option>
                <% } else {%>
                <option>По умолчанию</option>
                <% } %>

                <% if (sort == 1) { %>
                <option selected="selected">По убыванию</option>
                <% } else {%>
                <option>По убыванию</option>
                <% } %>

                <% if (sort == 2) { %>
                <option selected="selected">По возрастанию</option>
                <% } else {%>
                <option>По возрастанию</option>
                <% } %>

            </select>
        </label>
    </div>
</section>


<section class="main">
    <div class="container">
        <div class="main__container">

            <%- include('partials/sidebar.html', {categories}); %>

            <div class="products">
                <% products.forEach(function(product) { %>
                <div class="products__item">
                    <a class="products__link">
                        <img src="<%= product.imgURL %>" alt="product">
                        <span class="products__name"><%= product.name %></span>
                    </a>
                    <div class="products__price">
                        <span><%= product.price %></span>
                        <span>₽</span>
                    </div>
                    <a class="products__basket double-btn" data-id="<%= product.id %>" data-name="<%= product.name %>"
                       data-price="<%= product.price %>" data-imgurl="<%= product.imgURL %>">В корзину</a>
                </div>
                <% })%>
            </div>

        </div>
    </div>

</section>


<%- include('partials/map.html'); %>


<script type="module" src="http://localhost:8080/static/js/script.js"></script>
<script type="module" src="http://localhost:8080/static/js/products-page.js"></script>

</body>
</html>