<!doctype html>
<html lang="ru">

<%- include('partials/head.html'); %>

<body>

<%- include('partials/header.html'); %>

<section class="about-line">
    <h2>Ваш профиль</h2>
</section>

<section class="main">
    <div class="container">
        <div class="main__container">
            <div class="sidebar">
                <div class="sidebar__categories">
                    <h2>Категории</h2>
                    <% categories.forEach(function(category) { %>
                    <a href="/<%= category.name %>"><%= category.name %></a>
                    <% })%>
                </div>

                <div class="sidebar__video">
                    <iframe src="https://www.youtube.com/embed/SXVInXHZaWE?autoplay=1&mute=1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>


            </div>

            <div class="profile-page">
                <p>Ваш Email: <%= user.email %></p>
                <p>Ваша роль: <%= user.role %></p>
                <button class="profile-page__logoutBtn">Выйти из аккаунта</button>

                <p>История заказов</p>
                <% orders.forEach(function(order) { %>
                    <p>tel:<%= order.client.tel %> total:<%= order.info.totalPrice %></p>
                <% })%>
            </div>
        </div>
    </div>

</section>


<section class="map">
    <div class="container">
        map
    </div>
</section>


<script type="module" src="http://localhost:8080/static/js/script.js"></script>
<script type="module" src="http://localhost:8080/static/js/profile-page.js"></script>

</body>
</html>