// reset
@import "reset";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

// config
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: white;
  color: white;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}


// partials
@import "blocks/partials";

// blocks
@import "blocks/header";
@import "blocks/about-line";
@import "blocks/main";
@import "blocks/sidebar";
@import "blocks/map";

// pages
@import "pages/categories-page";
@import "pages/products-page";
@import "pages/about-page";
@import "pages/basket-page";
@import "pages/checkout-page";
@import "pages/completed-page";
@import "pages/profile-page";
@import "pages/login-page";
@import "pages/registration-page";
