.about-line {
  background: #ed8540;
  text-align: center;
  padding: 20px;

  h2 {
    font-weight: 300;
    margin-bottom: 10px;
  }

  @media (max-width: 750px) {
    font-size: 14px;
    h2 {
      font-size: 16px;
    }
  }
}