.header {
  background: url("/static/img/header/header_backround.jpg") top no-repeat, rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  padding: 50px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__logo {
    max-width: 300px;

    img {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    padding: 10px 0;
    &__container {
      align-items: center;
    }

    &__logo {
      max-width: 70px;
    }

    &__burger {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 20px;

      &:before, &:after, span {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      span {
        top: 9px;
      }

      &.active:before {
        transform: rotate(45deg);
        top: 9px;
      }

      &.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
      }

      &.active span {
        transform: rotate(360deg);
        opacity: 0;
      }
    }
  }
}


.menu {

  &__item {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;

    transition: color 0.3s;

    &:hover {
      color: #ed8540;
      border-bottom: solid 1px #ed8540;
    }
  }

  @media (max-width: 900px) {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease 0s;
    opacity: 0;

    &__item {
      font-size: 30px;
    }

    &.active {
      top: 0;
      opacity: 1;
    }
  }
}


.basket-menu {
  display: inline-block;
  padding: 10px;

  &__link {
    padding: 0;
  }

  &__indicator {
    display: inline-block;
    transform: translateY(-6px);
    padding: 0 5px;
    background: #ed8540;
    border-radius: 10%;
    font-size: 16px;
    font-weight: 700;
  }
}