.sort {
  padding: 20px 0 0 0;
  text-align: end;
  color: black;

  select {
    font-size: 16px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
  }
}